
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') 
    format('opentype');
    font-weight: normal;
    font-style: normal;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c5ebd6 ;
}

header{
    background: linear-gradient(to top, #1c643d, #2fa866);
    color: white;
    text-align: center;
    padding: 20px;
}
h1{
    
    padding-bottom: 20px;
    
}

h2{
    font-family: 'Idroid', sans-serif;
    margin-left: 20px;
    background: linear-gradient(to right, #2fa86546, transparent)
}

p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
}
    
nav{
    color: white;
    text-align: left;

    
   
}

nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
    
}
nav a:hover{
    text-decoration: underline;
}
main{
    padding: 120px;
}
article{
    background-color: white;
    padding: px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);}
    
article h2{
        color: #2fa866;
        
    }
article p{
        line-height: 1.6;
        padding: 20px;
    }

    img{
        max-width: 95%;
        height: auto;
        display: block;
        margin: auto;
        
    }

    .video iframe{
        display: block;
    
        width: 100%;
        height: 385px;
    }

    footer{
        background-color: #c5ebd6;
        color: black;
        text-align: center;
        margin: 30px;
        border-radius: 10px;
        
     }
    footer .rodape{
        background: linear-gradient(to top, #1c643d, #2fa866);
        color: white;
        text-align: left;
        margin: 0px;
        border-radius: 10px 10px 0px 0px;
    }

    ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 50%;
}