@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #f2c3af );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px#755e53cc;
    width: 600px;
    margin: auto;
}

h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #5c3702c2
}
h2{
    color: #125189;
}
p{
    text-align: justify;
}